@use "../variables" as *;
@use "../mixins";

.dropdown {
  display: grid;
  place-items: center;

  &__content {
    position: relative;
    width: max-content;
    transform: translateY(0);

    .dropdown__button,
    .dropdown__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .dropdown__button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 1.25rem;
      border-radius: 0.75rem;
      cursor: pointer;
    }

    .dropdown__user-img {
      height: 3rem;
      width: 2.9rem;
      border-radius: 50%;
      border: 1px solid $titleClr;

      @include mixins.breakpoint-up(medium) {
        height: 2rem;
        width: 2rem;
      }
    }

    .dropdown__user-name {
      padding-top: 5px;
      text-transform: capitalize;
      font-size: $fontSm;
      color: $bodyClr;

      @include mixins.breakpoint-up(medium) {
        font-weight: $weightLg;
      }
    }

    .dropdown__icon,
    .dropdown__icons {
      font-size: $fontMd;
      color: $textClrLight;
    }

    .dropdown__arrow,
    .dropdown__close {
      position: absolute;
      transition: opacity 0.1s, transform 0.4s;
      fill: $bodyClr;
      font-size: 1.2rem;
    }

    .dropdown__close {
      opacity: 0;
    }

    .dropdown__icons {
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;
    }

    .dropdown__name {
      font-weight: $weightMd;
      color: $textClrLight;
      text-transform: capitalize;
    }

    .dropdown__menu {
      background: $bodyClr;
      padding: 1rem 1.25rem;
      border-radius: 0.75rem;
      box-shadow: $boxSh;
      display: grid;
      row-gap: 1.5rem;
      position: absolute;
      width: 100%;
      left: 0;
      top: 85%;
      transform: scale(0.1);
      transform-origin: 10rem -2rem;
      pointer-events: none;
      transition: opacity 0.4s, transform 0.4s;
      opacity: 0;

      @include mixins.breakpoint-up(medium) {
        top: 5rem;
      }
    }

    .dropdown__item {
      padding: 0.2rem 0.5rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $btnClr;

        .dropdown__icon,
        .dropdown__name {
          color: $bodyClr;
        }
      }
    }
  }
}

/* Rotate & hide icon */
.show-dropdown .dropdown__close {
  opacity: 1;
  transform: rotate(-180deg);
}

.show-dropdown .dropdown__arrow {
  opacity: 0;
  transform: rotate(-180deg);
}

/* Show dropdown menu */
.show-dropdown .dropdown__menu {
  opacity: 1;
  transform: scale(1);
  pointer-events: initial;
}
