@use "../variables" as *;
@use "../mixins";

.footer {
  padding-top: 3rem;
  &__container {
    display: grid;
    row-gap: 2rem;
    border-bottom: 1px solid $titleClr;
    padding-bottom: 3rem;
    color: $textClrLight;

    @include mixins.breakpoint-up(small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.breakpoint-up(medium) {
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
    }

    .footer__title {
      margin-bottom: $mb-1;
      text-transform: capitalize;
    }

    .footer__list,
    .footer__links {
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;
      text-transform: capitalize;

      & li {
        font-size: $fontSm;
      }

      .footer__link {
        color: $textClrLight;

        &:hover {
          color: $firstClr;
        }
      }
    }

    .footer__social {
      display: flex;
      column-gap: 1.5rem;

      @include mixins.breakpoint-up(medium) {
        flex-direction: column;
        row-gap: 1px;
      }

      .social__icon {
        width: 25px;
        height: 25px;
        fill: $textClrLight;
        transition: transform 0.2s ease-in-out;

        &:hover {
          fill: $firstClr;
          transform: scale(1.1);
        }
      }
    }
  }

  .footer__copy {
    display: block;
    margin-bottom: $mb-1-5;
    text-align: center;
    font-size: 0.75rem;
  }
}
