@use "../variables" as *;
@use "../mixins";

.forgot__content {
  margin: 0 auto;
  max-width: 20rem;
  padding: 40px 30px;
  border-radius: $radius;
  box-shadow: $boxSh;
  background-color: $bodyClr;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform: translateY(30%);

  .forgot__form {
    margin: 0 auto;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .forgot__title {
      text-align: center;
      color: $textClrLight;
      text-transform: capitalize;
    }

    .form__field {
      margin: 0 auto;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      position: relative;
    }

    .form__input {
      margin: 0 auto;
      width: 80%;
      height: 3rem;
      padding-left: 35px;
      outline: none;
      border: none;
      font-size: $fontMd;
      background: $cardCrl;
      color: $textClrLight;
      border-radius: 25px;
      box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.3);
    }

    & input:focus {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
    }

    & input::placeholder {
      color: $textClr;
    }

    & .span {
      padding-left: 2px;
      position: absolute;
      color: $btnClrLg;
      width: 30px;
      line-height: 55px;
    }
  }
}
