@use "../variables" as *;
@use "../mixins";

.home__page {
  .home__container {
    display: grid;
    row-gap: 1rem;
    position: relative;

    @include mixins.breakpoint-up(medium) {
      padding-top: 2rem;
      grid-template-columns: 1fr max-content;
      align-items: center;
    }

    @include mixins.breakpoint-up(large) {
      column-gap: 0.5rem;
    }
  }

  .home__img-background {
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);

    @include mixins.breakpoint-up(medium) {
      order: 1;
      width: 320px;
      height: 490px;
    }

    @include mixins.breakpoint-up(large) {
      justify-content: flex-end;
      width: 470px;
      height: 580px;
      transform: translateX(0);
    }

    .home__img {
      width: 240px;
      box-shadow: $bcgBoxSh;

      @include mixins.breakpoint-up(small) {
        width: 240px;
      }

      @include mixins.breakpoint-up(medium) {
        width: 280px;
        transform: perspective(800px) rotateY(-8deg);
      }

      @include mixins.breakpoint-up(large) {
        width: 360px;
      }
    }
  }

  .home__data {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: $btnClrLg;

    @include mixins.breakpoint-up(medium) {
      padding: 0 0 5rem 0;
    }

    @include mixins.breakpoint-up(large) {
      row-gap: 1.5rem;
      padding: 1rem 0;
    }
  }

  .home__title {
    font-weight: $weightLg;
    font-family: monospace;

    @include mixins.breakpoint-up(xlarge) {
      font-weight: $weightLg;
    }
  }

  .home__subtitle {
    font-weight: normal;
  }

  .home__description {
    line-height: 1.5;

    @include mixins.breakpoint-up(medium) {
      line-height: 1.7;
    }
  }

  .home__btns {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
