@use "../variables" as *;
@use "../mixins";

.preorder {
  position: relative;
  height: auto;
  color: $btnClrLg;

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    height: 80vh;
    width: 80%;
    background: $cardCrl;
    padding: 1.6rem 2rem;
    transition: transform 0.3s ease-in-out;
    border: 1px solid $textClr;
    box-shadow: $bcgBoxSh;
    border-radius: $radius;
    z-index: 101;
    overflow: hidden;

    &__bg {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 98%;
      width: 98%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(24px);
      border-radius: $radius;
      overflow: hidden;
      outline: 2px solid white;
    }

    &__blob {
      position: absolute;
      z-index: -2;
      top: 50%;
      left: 50%;
      height: 80vh;
      width: 80%;
      border-radius: 50%;
      background-color: $paypalClr;
      opacity: 1;
      filter: blur(12px);
      animation: blob-bounce 5s infinite ease;
    }

    @keyframes blob-bounce {
      0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }

      25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
      }

      50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
      }

      75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
      }

      100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }
    }

    & h4 {
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
    }

    @include mixins.breakpoint-up(small) {
      width: 50%;
    }

    @include mixins.breakpoint-up(medium) {
      width: 40%;
    }

    @include mixins.breakpoint-up(large) {
      width: 30%;
    }

    &.expand {
      transform: translateY(0);
    }

    &.shrink {
      transform: translateY(-110%);
    }
  }

  .close__preorder {
    color: $btnClrLg;
    background: transparent;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.3rem;
    margin-left: 90%;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.3s;
  }

  .preorder__header {
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    position: relative;
    padding: 1rem;
    text-align: center;
  }

  .preorder__item {
    display: grid;
    grid-template-columns: 35% 35% 15% 15%;
    align-items: center;
    grid-gap: 1rem;
    margin: 2rem 0;

    & img {
      object-fit: cover;
      width: 9rem;
      object-fit: cover;
    }

    .remove__item {
      color: $errorCrl;
      cursor: pointer;
      align-self: end;
    }
  }

  .preorder__column {
    display: flex;
    flex-direction: column;
  }

  .title,
  .price {
    font-size: $fontSm;
    font-weight: $weightMd;
    line-height: 1.5;
    justify-self: start;
  }

  .subtotal {
    font-size: $fontSm;
    font-weight: $weightMd;
    margin-top: 1rem;
  }

  .quant__btn {
    width: 2.5rem;
    height: 3rem;
    background: transparent;
    cursor: pointer;
    align-self: center;
    border: none;
    z-index: 5;

    &:focus {
      outline: none;
    }
  }

  .quantity {
    text-align: center;
    margin: 0.5rem;
    padding-left: 0.1rem;
    font-size: $fontMd;
    font-weight: bold;
    line-height: 1;
  }

  .increase,
  .decrease {
    fill: $textClrLight;
    font-size: 2rem;
    z-index: 100;
  }

  .preorder__footer {
    padding: 1rem;
    text-align: center;

    & .preorder__total {
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: $mb-1;
      padding-bottom: $mb-1;
      font-weight: bold;
      color: $btnClrLg;
      border-bottom: 1px solid $btnClrLg;
    }

    & .login__preorder {
      padding: 0.5rem 1rem;
      background: $paypalClr;
      color: $cardCrl;
      font-size: $fontSm;
      text-transform: capitalize;
      cursor: pointer;
      border-radius: 0.5rem;
      box-shadow: $boxSh;
    }

    & .clear__preorder {
      padding: 0.5rem 1rem;
      margin-top: $mb-2;
      background: $errorCrl;
      color: $cardCrl;
      font-size: $fontSm;
      text-transform: capitalize;
      cursor: pointer;
      border-radius: 0.5rem;
      box-shadow: $boxSh;
    }
  }
}
