@use "../variables" as *;
@use "../mixins";

.product__details {
  .product__description {
    padding: 1rem 0;
    color: $btnClrLg;
    text-align: center;

    @include mixins.breakpoint-up(medium) {
      padding: 1rem;
      text-align: left;
    }

    &-title {
      margin-bottom: $mb-0-5;
      color: $btnClrLg;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $textClr;
      }
    }

    &-text {
      margin: $mb-1 0;
      line-height: 1.5;

      @include mixins.breakpoint-up(medium) {
        line-height: 1.8;
      }
    }
  }

  .product__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    color: $bodyClr;
    overflow: hidden;

    @include mixins.breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin: 0 0 $mb-2 0;
    }

    .product__data {
      margin: 0 auto;
      width: 17rem;
      border-radius: $radius;
      height: auto;
      padding: 1rem;
      background-color: rgba(41, 41, 41, 0.3);
      position: relative;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);

      &::before {
        content: "";
        background-color: #fab5704c;
        position: absolute;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        top: 7%;
        right: 3%;

        @include mixins.breakpoint-up(medium) {
          top: 10%;
          right: 13%;
        }
      }

      @include mixins.breakpoint-up(medium) {
        width: 100%;
        height: auto;
        padding: 2rem;
        z-index: 10;
        box-shadow: $box-Sh2;
      }

      &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: $mb-0-5 0;

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          margin: $mb-0-5;

          img {
            height: 20px;
            width: 20px;
            transform: rotate(-30deg);
          }
        }

        .product__price {
          font-weight: $weightMd;
        }
      }

      .product__data-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0.5rem;
      }
    }

    .product__image {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixins.breakpoint-up(medium) {
        justify-self: start;
      }

      .product__img {
        display: block;
        width: 350px;
        height: 260px;
        object-fit: fill;
        filter: drop-shadow(0.1rem 0.1rem 0.1rem $containerClr);

        @include mixins.breakpoint-up(medium) {
          z-index: 20;
          width: 100%;
          height: 100%;
          object-fit: fill;
          transform: translateX(-7%);
        }
      }
    }
  }
}
