@use "../variables" as *;
@use "../mixins";

.reset {
  &__content {
    margin: 0 auto;
    max-width: 20rem;
    padding: 40px 30px;
    background-color: rgba(41, 41, 41, 0.3);
    border-radius: $radius;
    box-shadow: $boxSh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .reset__form {
      margin: 0 auto;
      max-width: 20rem;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .form__field {
      margin: 0 auto;
      height: 80px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      position: relative;

      &:nth-child(2) {
        margin-top: 20px;
      }

      .form__input {
        margin: 0 auto;
        width: 80%;
        height: 3rem;
        padding-left: 35px;
        outline: none;
        border: none;
        font-size: $fontMd;
        background: $bodyClr;
        color: $textClrLight;
        border-radius: 25px;
        box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
        box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.7);
      }

      & input:focus {
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
      }

      & input::placeholder {
        color: $textClr;
      }

      & .span {
        padding-left: 7px;
        position: absolute;
        width: 30px;
        line-height: 55px;
      }
    }
  }
}
