@use "../variables" as *;
@use "../mixins";

.account {
  .user__account-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0;

    @include mixins.breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    .update__form-container {
      margin-bottom: $mb-1;

      .form__user-data,
      .form__user-password {
        background-color: $cardCrl;
        margin: 0 auto;
        padding: 2rem;
        max-width: 17rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        color: $textClrLight;
        box-shadow: $boxSh;

        @include mixins.breakpoint-up(large) {
          row-gap: 1.5rem;
        }

        .form__title {
          text-transform: capitalize;
          text-align: center;
        }

        .form__control {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 0.5rem;
        }

        .form__label {
          display: block;
          font-size: $fontMd;
          font-weight: $weightMd;
          margin-bottom: $mb-0-5;

          @include mixins.breakpoint-up(medium) {
            align-self: flex-start;
          }
        }

        .form__input {
          display: block;
          font-family: inherit;
          font-size: $fontSm;
          color: $containerClr;
          width: 100%;
          height: 2rem;
          border: 3px solid transparent;
          transition: all 0.3s;
          border-radius: 4px !important;
          background-color: $titleClr;
          padding: 0.1rem 0.3rem;

          &:focus {
            outline: none;
            border-bottom: 3px solid $successCrl;
          }

          &:focus:invalid {
            border-bottom: 3px solid $errorCrl;
          }

          &::-webkit-input-placeholder {
            color: $textClr;
          }
        }

        .form__photo-upload {
          display: flex;
          flex-direction: row;
          align-items: center;

          .form__user-photo {
            height: 4.2rem;
            width: 4rem;
            border-radius: 50%;
            margin-right: 2rem;
            border: 1px solid $titleClr;
            object-fit: cover;
          }

          .form__upload {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }

          .form__upload:focus + label {
            outline: 3px solid $firstClr;
            outline-offset: 3px;
          }

          .form__upload + label {
            color: $firstClr;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $firstClr;
            padding: 3px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            cursor: pointer;
          }

          .form__upload + label:hover {
            background-color: $firstClr;
            color: $titleClr;
            -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
